# dependencies
/node_modules

# Next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS and editors
.DS_Store
Thumbs.db
.idea/
.vscode/
